body,html{
    display: flex;
    margin: 0;
    padding: 5px;
    justify-content: center;
    border-radius: 20px;
}

div.App{
    background-color: aliceblue;
    border-radius: 20px;
    width: 100%;
}


div.recharts-wrapper{
    display: flex;
}

div#root{
    min-width: 40%;
}